%button.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar" type="button")
  %span.icon-bar
  %span.icon-bar
  %span.icon-bar
= link_to "Salticidae", root_path, :class => 'brand'
.pull-right
  %ul.nav
    %li= link_to t(:signup), sign_up_path
.nav-collapse.collapse
  %ul.nav
    %li{:class => controller?(:home) ? :active : ""}
      = link_to t(:home), root_path
